In [26]:
import pandas as pd
import os

In [33]:

ds_same = pd.read_csv("./ISIC_2020_Training_Duplicates.csv")
ds = pd.read_csv("./ISIC_2020_Training_GroundTruth.csv")
ds_testing_1 = "C:\\Users\\clara\\DataSets\\ISIC_2020_Testing\\african_american\\"
ds_testing_2 = "C:\\Users\\clara\\DataSets\\ISIC_2020_Testing\\asian\\"
#TEST_PATH = "C:\\Users\\clara\\DataSets\\ISIC_2020_Test_JPEG\\ISIC_2020_Test_Input\\"

# Get a sorted list of image names
ds_testing_1 = sorted(list(os.listdir(ds_testing_1)))
ds_testing_2 = sorted(list(os.listdir(ds_testing_2)))

ds_testing_1 = [i[0:-4] for i in ds_testing_1]
print(len(ds))
ds_testing_2 = [i[0:-4] for i in ds_testing_2]
ds.head()

33126

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
0,ISIC_2637011,IP_7279968,male,45.0,head/neck,unknown,benign,0
1,ISIC_0015719,IP_3075186,female,45.0,upper extremity,unknown,benign,0
2,ISIC_0052212,IP_2842074,female,50.0,lower extremity,nevus,benign,0
3,ISIC_0068279,IP_6890425,female,45.0,head/neck,unknown,benign,0
4,ISIC_0074268,IP_8723313,female,55.0,upper extremity,unknown,benign,0

In [35]:
cleaned_1 = ds[(ds["anatom_site_general_challenge"] != "head/neck")]

In [36]:
drop_rows = []
for index, row in ds_same.iterrows():
    row_1 = ds.loc[ds["image_name"] == row["image_name_1"]]
    row_2 = ds.loc[ds["image_name"] == row["image_name_2"]]
    row_1 = row_1.loc[:, row_1.columns != 'image_name']
    row_2 = row_2.loc[:, row_2.columns != 'image_name']
    same = (row_1.all() == row_2.all()).all() == True
    if same:
        drop_rows.append(row["image_name_1"])
    else:
        drop_rows.append(row["image_name_1"])
        drop_rows.append(row["image_name_2"])
# Remove duplicates
ds = ds[~ds["image_name"].isin(drop_rows)]

In [37]:
ds_AA = ds[ds["image_name"].isin(ds_testing_1)]
patient_id1 = ds_AA["patient_id"].tolist()
ds_testing1 = ds[ds["patient_id"].isin(patient_id1)]
ds_test_list1 = ds_testing1["image_name"].tolist()

ds_A = ds[ds["image_name"].isin(ds_testing_2)]
patient_id2 = ds_A["patient_id"].tolist()
ds_testing2 = ds[ds["patient_id"].isin(patient_id2)]
ds_test_list2 = ds_testing2["image_name"].tolist()

ds_test_list = ds_test_list1 + ds_test_list2

In [38]:
# Remove the test images
cleaned = ds[~ds["image_name"].isin(ds_test_list)]
print(len(cleaned))

30032

In [39]:
cleaned.to_csv("./cleaned_isic.csv")
ds_testing1.to_csv("./test_ISIC_AA.csv")
ds_testing2.to_csv("./test_ISIC_A.csv")

30886

In [13]:
cleaned_isic = ds[(ds["diagnosis"] != "unknown") & (ds["anatom_site_general_challenge"] != "head/neck")]

In [17]:
cleaned_isic.to_csv("./cleaned_isic.csv")

In [5]:
len(ds[(ds["diagnosis"] != "unknown")])

6002

In [34]:
ds_2019_meta = pd.read_csv("./ISIC_2019_Training_Metadata.csv")
ds_2019_meta.head()

          image  age_approx anatom_site_general lesion_id     sex
0  ISIC_0000000        55.0      anterior torso       NaN  female
1  ISIC_0000001        30.0      anterior torso       NaN  female
2  ISIC_0000002        60.0     upper extremity       NaN  female
3  ISIC_0000003        30.0     upper extremity       NaN    male
4  ISIC_0000004        80.0     posterior torso       NaN    male

In [35]:
ds_2019_GT = pd.read_csv("./ISIC_2019_Training_GroundTruth.csv")
ds_2019_GT.head()

          image  MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
0  ISIC_0000000  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
1  ISIC_0000001  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
2  ISIC_0000002  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
3  ISIC_0000003  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
4  ISIC_0000004  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0